In [103]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import re
import pandas as pd

In [104]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
# NASA Mars News
nasa_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(nasa_url)
time.sleep(5)
html = browser.html
soup = bs(html, "html.parser")

mars_news = soup.select(".item_list .slide")
news_title = ''
news_p = ''
for nitem in mars_news:
    news_title =  nitem.select_one(".content_title a").text
    news_p = nitem.select_one(".article_teaser_body").text
    break

print(f"news_title = {news_title}")
print(f"news_p = {news_p}")

news_title = Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
news_p = NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [6]:
#JPL Mars Space Images - Featured Image
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)
time.sleep(5)
html = browser.html
soup = bs(html, "html.parser")    

jpl_news = soup.select(".articles .slide")
featured_image_url = ''
for nitem in jpl_news:
    featured_image_url  =  'https://www.jpl.nasa.gov' + nitem.select_one(".fancybox")["data-fancybox-href"]
    break

print(f"featured_image_url = {featured_image_url}")

featured_image_url = https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23745_hires.jpg

In [107]:
# Twitter Mars News
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)
time.sleep(5)
html = browser.html
soup = bs(html, "html.parser")    

tweets =  soup.select("div[class='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0'] span")
mars_weather = ''
for tweet in tweets:
    if tweet.text.startswith('InSight sol'):
        mars_weather = tweet.text
        break

print(f"mars_weather = {mars_weather}")

mars_weather = InSight sol 457 (2020-03-10) low -95.7ºC (-140.3ºF) high -9.1ºC (15.6ºF) winds from the SSE at 6.5 m/s (14.5 mph) gusting to 21.0 m/s (46.9 mph) pressure at 6.30 hPa

In [94]:
# Mars Facts
space_url = "https://space-facts.com/mars"
browser.visit(space_url)
time.sleep(5)
html = browser.html
soup = bs(html, "html.parser")    

fact_cols = soup.select("#tablepress-p-mars tr")

descriptions = []
values = []
for col in fact_cols:
    descriptions.append(col.select_one(".column-1 strong").text)
    values.append(col.select_one(".column-2").text)

dict_facts = {"Description": descriptions, "Value": values}
df_facts=pd.DataFrame(dict_facts)
mars_facts = df_facts.to_html(index=False)

print(f"mars_facts = {mars_facts}")

mars_facts = <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

             Description                          Value
0   Equatorial Diameter:                       6,792 km
1        Polar Diameter:                       6,752 km
2                  Mass:  6.39 × 10^23 kg (0.11 Earths)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.38 AU)
5          Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [105]:
    # Mars Hemispheres
    astro_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(astro_url)
    time.sleep(5)
    html = browser.html
    soup = bs(html, "html.parser")    

    items = soup.select(".item")
    hemisphere_image_urls = []

    for item in items:
        title = item.select_one(".description h3").text
        img_href =  item.select_one("a")["href"]
 
        browser.visit(f"https://astrogeology.usgs.gov{img_href}" )
        time.sleep(1)
        html = browser.html
        soup = bs(html, "html.parser")
        
        fimg_href = soup.select_one(f".downloads a")["href"]        
        hemisphere_img = {"title":title, "img_url":fimg_href}        
        hemisphere_image_urls.append(hemisphere_img)

    hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]